


<h2 style="color:black;">Historial</h2>

{{#if productosEnArray  }} 
<div class="table-responsive">
  <table class="table table-dark">
    <tr style="color: yellow;">
      <th>Nombre</th>
      <th>Precio</th>
      <th>Foto</th>
    </tr>
    {{#each productos}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <td>{{this.thumbnail}}</td>
      </tr>
    {{/each}}
  </table>
</div>
    {{#else}}
         <h3 class="alert alert-danger">No hay productos</h1>
    {{/else}}
{{/if}}

<a href="/" type="button" class="btn btn-warning">Agregar producto</button>
