<style>
  .table td, .table th { vertical-align: middle; }
</style>

{{#if hayProductos}}
  <h2>Lista de Productos</h2>
  <div class="table-responsive pt-5">
    <table class="table table-success table-striped">
      <tr class="table-secondary">
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
      </tr>
      {{#each productos}}
        <tr>
          <td>{{this.title}}</td>
          <td>${{this.price}}</td>
          <td><img
              width="50"
              src={{this.thumbnail}}
              alt="foto no encontrada"
            /></td>
        </tr>
      {{/each}}
    </table>
  </div>
    {{#else}}
        <h3 class="alert alert-danger">No hay productos</h1>
    {{/else}}

{{/if}}