<h1 style="color:blue;">Ingrese Productos</h1>
<br>

<form action="/productos" method="post">

    <div class="form-group">
        <label for="nombre"><b>Nombre</b></label>
        <input id="nombre" class="form-control" type="text" name="name" required>
    </div>

    <div class="form-group">
        <label for="precio"><b>Precio</b></label>
        <input id="precio" class="form-control" type="text" name="price" required>
    </div>

    <div class="form-group">
        <label for="foto">Foto URL</label>
        <input id="foto" class="form-control" type="url" name="thumbnail">
    </div>

    <button class="btn btn-success mt-3 mb-5">Enviar</button>
    <button class="btn btn-success mt-3 mb-5">Volver al inicio</button>
</form>