<div class="container text-center my-3">
  <div
    class="jumbotron"
    style="background-color: rgb(240, 57, 37);color: white;"
  >
    <h2 class="h2">Error de login, usuario no encontrado</h2>

    <button class="btn btn-dark my-5" onclick="volver()">VOLVER</button>
  </div>
</div>

<script>
  function redireccionar(pagina) { location.href = pagina; } function volver() {
  console.log('volver'); redireccionar('/') }
</script>