<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container my-5 d-flex justify-content-center">
      <div class="jumbotron d-flex justify-content-center">
        <h2 class="h2">Completá tus datos para registrarte en el sitio</h2>
        <br />
        <form
          class="form col-md-6"
          role="form"
          action="/signup"
          method="post"
          autocomplete="off"
        >
          <div class="form-group text-center">
            <input
              name="username"
              placeholder="Nombre"
              class="form-control"
              type="text"
              required
            />
          </div>
          <div class="form-group">
            <input
              name="password"
              placeholder="Password"
              class="form-control"
              type="password"
              required
            />
          </div>

          <br />

          <div class="form-group">
            <input
              name="firstName"
              placeholder="Nombre completo"
              class="form-control"
              type="text"
              required
            />
          </div>

          <div class="form-group">
            <input
              name="lastName"
              placeholder="Apellido"
              class="form-control"
              type="text"
              required
            />
          </div>

          <div class="form-group">
            <input
              name="email"
              placeholder="email"
              class="form-control"
              type="email"
              required
            />
          </div>

          <div class="form-group">
            <input
              class="btn btn-success my-3"
              type="submit"
              value="Registrarme"
            />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
